
body {
  text-align: center;
  background-color: lightgrey;
  width: 99%;
}
table {
  float: left;
  font-family: Arial;
}
tr.cabeza {
  background-color: #FF6347;
  color: white;
}
tr {
  background-color:white;
}
td {
  padding-left: 50px;
  padding-right: 50px;
}
span.numero {
  font-weight: bold;
  font-size: 70px;
}
span.tiempo {
  font-size: 40px;
  line-height: 70px;
}
span.precio {
  font-size: 40px;
}
strong {
  line-height:50px;
}
span.texto {
  line-height:40px;
}
span.texto2 {
  line-height:0px;
}
span.texto3 {
  line-height:50px;
}
span.texto,span.texto2,span.texto3 {
  color: grey;
}
td.cabeza {
  padding-bottom: 40px;
}
button {
  background-color: #FF6347;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
td.boton {
  padding-top: 40px;
  padding-bottom: 40px;
}
table.uno,table.dos,table.tres {
  border-spacing: 20px 0px;
}
table.uno {
  margin-left:80px;
}
