header {border: 1px solid grey;margin: 10px 3px 0px 0px;}
nav {border: 1px solid grey;margin: 10px;}
article {border: 1px solid grey;margin: 4px 3px 0px 0px;}
section {border: 1px solid grey;margin: 7px;}
aside {border: 1px solid grey;margin: 4px 3px 0px 0px;}
footer {border: 1px solid grey;margin: 4px 3px 0px 0px;}
h1 {margin: 10px;font-family: arial;font-size: 25px;}
a {margin: 7px;font-family: arial;font-size: 12px;font-size: 10px;}
h2 {margin: 10px;font-family: arial;font-size: 15px;}
p {margin: 10px;font-family: arial;font-size: 11px;}
address {margin: 10px;font-family: arial;font-size: 11px}
